<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="org.wang.tools.vo*"></package>
	</typeAliases>

	<!-- 将mapper文件加入到配置文件中  这里指定实体类配置文件了，那spring文件就不用指定-->
	<mappers>
		<package name="org.wang.tools.daoMapper*"/>
	</mappers>
	
</configuration>