<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intfocus.hdk.dao.InstallMapper" >
  <resultMap id="BaseResultMap" type="com.intfocus.hdk.vo.Install" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="install_id" property="installId" jdbcType="VARCHAR" />
    <result column="install_station" property="installStation" jdbcType="VARCHAR" />
    <result column="pro_id" property="proId" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="cash_id" property="cashId" jdbcType="VARCHAR" />
    <result column="printer_id" property="printerId" jdbcType="VARCHAR" />
    <result column="eq_id" property="eqId" jdbcType="VARCHAR" />
    <result column="install_data" property="installData" jdbcType="VARCHAR" />
    <result column="install_time" property="installTime" jdbcType="TIMESTAMP" />
    <result column="install_user" property="installUser" jdbcType="VARCHAR" />
    <result column="install_network" property="installNetwork" jdbcType="VARCHAR" />
    <result column="attachment_url" property="attachmentUrl" jdbcType="VARCHAR" />
    <result column="install_remote" property="installRemote" jdbcType="VARCHAR" />
    <result column="install_endtime" property="installEndtime" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.intfocus.hdk.vo.Install" extends="BaseResultMap" >
    <result column="install_remarks" property="installRemarks" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, install_id, install_station, pro_id, shop_id, cash_id, printer_id, eq_id, install_data, 
    install_time, install_user, install_network, install_remote, install_endtime, created_at, 
    updated_at,attachment_url
  </sql>
  <sql id="Blob_Column_List" >
    install_remarks
  </sql>
  
  
  
  <select id="selectByWhere" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from install
    <where>
    	1=1
			  <if test="null != installId  and '' != installId">
				and install_id  = #{installId,jdbcType=VARCHAR}
			</if>	

    </where>
    <if test="null != page and ''!= page">
	    <if test="null != pageSize and ''!= pageSize">
			limit 	#{page,jdbcType=VARCHAR}, #{pageSize,jdbcType=VARCHAR}		    
		</if>
	</if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from install
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from install
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.intfocus.hdk.vo.Install" >
    insert into install (id, install_id, install_station, 
      pro_id, shop_id, cash_id, 
      printer_id, eq_id, install_data, 
      install_time, install_user, install_network, 
      install_remote, install_endtime, created_at, 
      updated_at, install_remarks)
    values (#{id,jdbcType=INTEGER}, #{installId,jdbcType=VARCHAR}, #{installStation,jdbcType=VARCHAR}, 
      #{proId,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, #{cashId,jdbcType=VARCHAR}, 
      #{printerId,jdbcType=VARCHAR}, #{eqId,jdbcType=VARCHAR}, #{installData,jdbcType=VARCHAR}, 
      #{installTime,jdbcType=TIMESTAMP}, #{installUser,jdbcType=VARCHAR}, #{installNetwork,jdbcType=VARCHAR}, 
      #{installRemote,jdbcType=VARCHAR}, #{installEndtime,jdbcType=TIMESTAMP}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{installRemarks,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.intfocus.hdk.vo.Install" >
    insert into install
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="installId != null" >
        install_id,
      </if>
      <if test="installStation != null" >
        install_station,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="cashId != null" >
        cash_id,
      </if>
      <if test="printerId != null" >
        printer_id,
      </if>
      <if test="eqId != null" >
        eq_id,
      </if>
      <if test="installData != null" >
        install_data,
      </if>
      <if test="installTime != null and '' != installTime" >
        install_time,
      </if>
      <if test="installUser != null" >
        install_user,
      </if>
      <if test="installNetwork != null" >
        install_network,
      </if>
      <if test="installRemote != null" >
        install_remote,
      </if>
      <if test="installEndtime != null" >
        install_endtime,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="installRemarks != null" >
        install_remarks,
      </if>
      <if test="attachmentUrl != null" >
        attachment_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="installId != null" >
        #{installId,jdbcType=VARCHAR},
      </if>
      <if test="installStation != null" >
        #{installStation,jdbcType=VARCHAR},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="cashId != null" >
        #{cashId,jdbcType=VARCHAR},
      </if>
      <if test="printerId != null" >
        #{printerId,jdbcType=VARCHAR},
      </if>
      <if test="eqId != null" >
        #{eqId,jdbcType=VARCHAR},
      </if>
      <if test="installData != null" >
        #{installData,jdbcType=VARCHAR},
      </if>
      <if test="installTime != null and '' != installTime"  >
        #{installTime,jdbcType=TIMESTAMP},
      </if>
      <if test="installUser != null" >
        #{installUser,jdbcType=VARCHAR},
      </if>
      <if test="installNetwork != null" >
        #{installNetwork,jdbcType=VARCHAR},
      </if>
      <if test="installRemote != null" >
        #{installRemote,jdbcType=VARCHAR},
      </if>
      <if test="installEndtime != null" >
        #{installEndtime,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=VARCHAR},
      </if>
      <if test="installRemarks != null" >
        #{installRemarks,jdbcType=LONGVARCHAR},
      </if>
      <if test="attachmentUrl != null" >
        #{attachmentUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.intfocus.hdk.vo.Install" >
    update install
    <set >
      <if test="installId != null" >
        install_id = #{installId,jdbcType=VARCHAR},
      </if>
      <if test="installStation != null" >
        install_station = #{installStation,jdbcType=VARCHAR},
      </if>
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="cashId != null" >
        cash_id = #{cashId,jdbcType=VARCHAR},
      </if>
      <if test="printerId != null" >
        printer_id = #{printerId,jdbcType=VARCHAR},
      </if>
      <if test="eqId != null" >
        eq_id = #{eqId,jdbcType=VARCHAR},
      </if>
      <if test="installData != null" >
        install_data = #{installData,jdbcType=VARCHAR},
      </if>
      <if test="installTime != null and '' != installTime"  >
        install_time = #{installTime,jdbcType=TIMESTAMP},
      </if>
      <if test="installUser != null" >
        install_user = #{installUser,jdbcType=VARCHAR},
      </if>
      <if test="installNetwork != null" >
        install_network = #{installNetwork,jdbcType=VARCHAR},
      </if>
      <if test="installRemote != null" >
        install_remote = #{installRemote,jdbcType=VARCHAR},
      </if>
      <if test="installEndtime != null" >
        install_endtime = #{installEndtime,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=VARCHAR},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=VARCHAR},
      </if>
      <if test="attachmentUrl != null" >
        attachment_url = #{attachmentUrl,jdbcType=VARCHAR},
      </if>
      <if test="installRemarks != null" >
        install_remarks = #{installRemarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.intfocus.hdk.vo.Install" >
    update install
    set install_id = #{installId,jdbcType=VARCHAR},
      install_station = #{installStation,jdbcType=VARCHAR},
      pro_id = #{proId,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      cash_id = #{cashId,jdbcType=VARCHAR},
      printer_id = #{printerId,jdbcType=VARCHAR},
      eq_id = #{eqId,jdbcType=VARCHAR},
      install_data = #{installData,jdbcType=VARCHAR},
      install_time = #{installTime,jdbcType=TIMESTAMP},
      install_user = #{installUser,jdbcType=VARCHAR},
      install_network = #{installNetwork,jdbcType=VARCHAR},
      install_remote = #{installRemote,jdbcType=VARCHAR},
      install_endtime = #{installEndtime,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      install_remarks = #{installRemarks,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intfocus.hdk.vo.Install" >
    update install
    set install_id = #{installId,jdbcType=VARCHAR},
      install_station = #{installStation,jdbcType=VARCHAR},
      pro_id = #{proId,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      cash_id = #{cashId,jdbcType=VARCHAR},
      printer_id = #{printerId,jdbcType=VARCHAR},
      eq_id = #{eqId,jdbcType=VARCHAR},
      install_data = #{installData,jdbcType=VARCHAR},
      install_time = #{installTime,jdbcType=TIMESTAMP},
      install_user = #{installUser,jdbcType=VARCHAR},
      install_network = #{installNetwork,jdbcType=VARCHAR},
      install_remote = #{installRemote,jdbcType=VARCHAR},
      install_endtime = #{installEndtime,jdbcType=TIMESTAMP},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>