<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intfocus.hdk.dao.ShopsMapper" >
  <resultMap id="BaseResultMap" type="com.intfocus.hdk.vo.Shops" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="shop_position" property="shopPosition" jdbcType="VARCHAR" />
    <result column="shop_floor" property="shopFloor" jdbcType="VARCHAR" />
    <result column="shop_mer_name" property="shopMerName" jdbcType="VARCHAR" />
    <result column="shop_mer_station" property="shopMerStation" jdbcType="VARCHAR" />
    <result column="shop_type" property="shopType" jdbcType="VARCHAR" />
    <result column="shop_sec_type" property="shopSecType" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="pro_id" property="proId" jdbcType="VARCHAR" />
    <result column="eq_type" property="eqType" jdbcType="VARCHAR" />
    <result column="install_id" property="installId" jdbcType="VARCHAR" />
    <result column="install_station" property="installStation" jdbcType="VARCHAR" />
    <result column="eq_id" property="eqId" jdbcType="VARCHAR" />
    <result column="cash_system" property="cashSystem" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    shops.id, shops.shop_id, shops.shop_position, shops.shop_floor
    , shops.shop_mer_name, shops.shop_mer_station, shops.shop_type, 
    shops.shop_sec_type, shops.shop_name, shops.pro_id
    ,equipment.eq_type,cash.cash_system,install.install_id,install.install_station,equipment.eq_id
  </sql>
  <sql id="origin_Column_List" >
    shops.id, shops.shop_id, shops.shop_position, shops.shop_floor
    , shops.shop_mer_name, shops.shop_mer_station, shops.shop_type, 
    shops.shop_sec_type, shops.shop_name, shops.pro_id
    
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="origin_Column_List" />
    from shops
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id = "selectForCombobox" resultMap="BaseResultMap"  parameterType="java.util.Map">
    select 
    <include refid="origin_Column_List" />
        from shops 
        <where>
    	1=1
           <if test="null != shopId  and '' != shopId">
				and shops.shop_id  = #{shopId,jdbcType=VARCHAR}
			</if>	
           <if test="null != installStation  and '' != installStation">
				and install.install_station  = #{installStation,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopPosition  and '' != shopPosition">
				and shops.shop_position  = #{shopPosition,jdbcType=VARCHAR}
			</if>	
    		<if test="null != proName  and '' != proName">
				and shops.pro_id in (select pro_id from project where pro_name =  #{proName,jdbcType=VARCHAR})
			</if>	
    		<if test="null != shopFloor  and '' != shopFloor">
				and shops.shop_floor  = #{shopFloor,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopMerName  and '' != shopMerName">
				and shops.shop_mer_name  = #{shopMerName,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopMerStation  and '' != shopMerStation and '全部' != shopMerStation">
				and shops.shop_mer_station  = #{shopMerStation,jdbcType=VARCHAR}
			</if>	
    		<if test="null != eqType  and '' != eqType">
				and equipment.eq_type  = #{eqType,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopType  and '' != shopType">
				and shops.shop_type  = #{shopType,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopSecType  and '' != shopSecType">
				and shops.shop_sec_type  = #{shopSecType,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopName  and '' != shopName">
				and shops.shop_name  = #{shopName,jdbcType=VARCHAR}
			</if>	
    		<if test="null != proId  and '' != proId">
				and shops.pro_id  = #{proId,jdbcType=VARCHAR}
			</if>	
 </where>
  </select>
  
  
    <select id="selectByWhere" resultMap="BaseResultMap"  parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />

		        from shops 
		inner join install 
		  			on install.shop_id = shops.shop_id and install.pro_id = shops.pro_id 
		left join equipment 
				on shops.shop_id = equipment.shop_id 
		      and shops.pro_id = equipment.pro_id and equipment.eq_id = install.eq_id
		left join cash on cash.cash_id = install.cash_id 
    <where>
    	1=1
           <if test="null != shopId  and '' != shopId">
				and shops.shop_id  = #{shopId,jdbcType=VARCHAR}
			</if>	
           <if test="null != installStation  and '' != installStation">
				and install.install_station  = #{installStation,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopPosition  and '' != shopPosition">
				and shops.shop_position  = #{shopPosition,jdbcType=VARCHAR}
			</if>	
    		<if test="null != proName  and '' != proName">
				and shops.pro_id in (select pro_id from project where pro_name =  #{proName,jdbcType=VARCHAR})
			</if>	
    		<if test="null != shopFloor  and '' != shopFloor">
				and shops.shop_floor  = #{shopFloor,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopMerName  and '' != shopMerName">
				and shops.shop_mer_name  = #{shopMerName,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopMerStation  and '' != shopMerStation and '全部' != shopMerStation">
				and shops.shop_mer_station  = #{shopMerStation,jdbcType=VARCHAR}
			</if>	
    		<if test="null != eqType  and '' != eqType">
				and equipment.eq_type  = #{eqType,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopType  and '' != shopType">
				and shops.shop_type  = #{shopType,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopSecType  and '' != shopSecType">
				and shops.shop_sec_type  = #{shopSecType,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopName  and '' != shopName">
				and shops.shop_name  = #{shopName,jdbcType=VARCHAR}
			</if>	
    		<if test="null != proId  and '' != proId">
				and shops.pro_id  = #{proId,jdbcType=VARCHAR}
			</if>	
 
    </where>  
    <if test="null != page and ''!= page">
	    <if test="null != pageSize and ''!= pageSize">
			limit 	#{page,jdbcType=VARCHAR}, #{pageSize,jdbcType=VARCHAR}		    	
	    </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shops
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.intfocus.hdk.vo.Shops" >
    insert into shops (id, shop_id, shop_position, 
      shop_floor, shop_mer_name, shop_mer_station, 
      shop_type, shop_sec_type, shop_name, 
      pro_id)
    values (#{id,jdbcType=INTEGER}, #{shopId,jdbcType=VARCHAR}, #{shopPosition,jdbcType=VARCHAR}, 
      #{shopFloor,jdbcType=VARCHAR}, #{shopMerName,jdbcType=VARCHAR}, #{shopMerStation,jdbcType=VARCHAR}, 
      #{shopType,jdbcType=VARCHAR}, #{shopSecType,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, 
      #{proId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.intfocus.hdk.vo.Shops" >
    insert into shops
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="shopPosition != null" >
        shop_position,
      </if>
      <if test="shopFloor != null" >
        shop_floor,
      </if>
      <if test="shopMerName != null" >
        shop_mer_name,
      </if>
      <if test="shopMerStation != null" >
        shop_mer_station,
      </if>
      <if test="shopType != null" >
        shop_type,
      </if>
      <if test="shopSecType != null" >
        shop_sec_type,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="shopPosition != null" >
        #{shopPosition,jdbcType=VARCHAR},
      </if>
      <if test="shopFloor != null" >
        #{shopFloor,jdbcType=VARCHAR},
      </if>
      <if test="shopMerName != null" >
        #{shopMerName,jdbcType=VARCHAR},
      </if>
      <if test="shopMerStation != null" >
        #{shopMerStation,jdbcType=VARCHAR},
      </if>
      <if test="shopType != null" >
        #{shopType,jdbcType=VARCHAR},
      </if>
      <if test="shopSecType != null" >
        #{shopSecType,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.intfocus.hdk.vo.Shops" >
    update shops
    <set >
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="shopPosition != null" >
        shop_position = #{shopPosition,jdbcType=VARCHAR},
      </if>
      <if test="shopFloor != null" >
        shop_floor = #{shopFloor,jdbcType=VARCHAR},
      </if>
      <if test="shopMerName != null" >
        shop_mer_name = #{shopMerName,jdbcType=VARCHAR},
      </if>
      <if test="shopMerStation != null" >
        shop_mer_station = #{shopMerStation,jdbcType=VARCHAR},
      </if>
      <if test="shopType != null" >
        shop_type = #{shopType,jdbcType=VARCHAR},
      </if>
      <if test="shopSecType != null" >
        shop_sec_type = #{shopSecType,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intfocus.hdk.vo.Shops" >
    update shops
    set shop_id = #{shopId,jdbcType=VARCHAR},
      shop_position = #{shopPosition,jdbcType=VARCHAR},
      shop_floor = #{shopFloor,jdbcType=VARCHAR},
      shop_mer_name = #{shopMerName,jdbcType=VARCHAR},
      shop_mer_station = #{shopMerStation,jdbcType=VARCHAR},
      shop_type = #{shopType,jdbcType=VARCHAR},
      shop_sec_type = #{shopSecType,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      pro_id = #{proId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>