<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intfocus.hdk.dao.StateMapper" >
  <resultMap id="BaseResultMap" type="com.intfocus.hdk.vo.State" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sta_id" property="staId" jdbcType="VARCHAR" />
    <result column="sta_name" property="staName" jdbcType="VARCHAR" />
    <result column="owner_table" property="ownerTable" jdbcType="VARCHAR" />
    <result column="is_default" property="isDefault" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sta_id, sta_name, owner_table, created_at, updated_at,is_default
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from state
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByWhere" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from state
   <where>
    	1=1
    		<if test="null != ownerTable  and '' != ownerTable">
				and owner_table = #{ownerTable,jdbcType=VARCHAR}
			</if>	
    </where>    
    
    <if test="null != page and ''!= page">
	    <if test="null != pageSize and ''!= pageSize">
			limit 	#{page,jdbcType=VARCHAR}, #{pageSize,jdbcType=VARCHAR}		    	
	    </if>
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from state
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.intfocus.hdk.vo.State" >
    insert into state (id, sta_id, sta_name, 
      owner_table, created_at, updated_at
      )
    values (#{id,jdbcType=INTEGER}, #{staId,jdbcType=VARCHAR}, #{staName,jdbcType=VARCHAR}, 
      #{ownerTable,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.intfocus.hdk.vo.State" >
    insert into state
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="staId != null" >
        sta_id,
      </if>
      <if test="staName != null" >
        sta_name,
      </if>
      <if test="ownerTable != null" >
        owner_table,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="staId != null" >
        #{staId,jdbcType=VARCHAR},
      </if>
      <if test="staName != null" >
        #{staName,jdbcType=VARCHAR},
      </if>
      <if test="ownerTable != null" >
        #{ownerTable,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.intfocus.hdk.vo.State" >
    update state
    <set >
      <if test="staId != null" >
        sta_id = #{staId,jdbcType=VARCHAR},
      </if>
      <if test="staName != null" >
        sta_name = #{staName,jdbcType=VARCHAR},
      </if>
      <if test="ownerTable != null" >
        owner_table = #{ownerTable,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intfocus.hdk.vo.State" >
    update state
    set sta_id = #{staId,jdbcType=VARCHAR},
      sta_name = #{staName,jdbcType=VARCHAR},
      owner_table = #{ownerTable,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>