<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.intfocus.hdk.dao.SurveyMapper" >
  <resultMap id="BaseResultMap" type="com.intfocus.hdk.vo.Survey" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="pro_id" property="proId" jdbcType="VARCHAR" />
    <result column="pro_name" property="proName" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="VARCHAR" />
    <result column="sur_network" property="surNetwork" jdbcType="VARCHAR" />
    <result column="shop_mer_station" property="shopMerStation" jdbcType="VARCHAR" />
    <result column="sur_power" property="surPower" jdbcType="VARCHAR" />
    <result column="sur_vip" property="surVip" jdbcType="VARCHAR" />
    <result column="sur_vip_data" property="surVipData" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="created_at" property="createdAt" jdbcType="VARCHAR" />
    <result column="attachment_url" property="attachmentUrl" jdbcType="VARCHAR" />
    <result column="sur_id" property="surId" jdbcType="VARCHAR" />
    <result column="updated_at" property="updatedAt" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.intfocus.hdk.vo.Survey" extends="BaseResultMap" >
    <result column="sur_remarks" property="surRemarks" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
      survey.id, survey.pro_id, survey.shop_id, survey.sur_network, survey.sur_power, survey.sur_vip, survey.sur_vip_data
      , survey.created_at, survey.updated_at,survey.sur_id,shops.shop_name,shops.shop_mer_station,project.pro_name,survey.attachement_url
  </sql>
  
  <sql id="extra_Column_List" >
    sur_remarks
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />

    from survey
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectByWhere" resultMap="BaseResultMap"  parameterType="java.util.Map">
    select 
    <include refid="Base_Column_List" />

    from survey
        inner join shops on shops.shop_id = survey.shop_id
        inner join project on project.pro_id = survey.pro_id
    <where>
    	1=1
            <if test="null != proId  and '' != proId">
				and pro_id  = #{proId,jdbcType=VARCHAR}
			</if>	
             <if test="null != proName  and '' != proName">
				and survey.pro_id  in (select pro_id from project where pro_name = #{proName,jdbcType=VARCHAR})
			</if>	
    		<if test="null != shopId  and '' != shopId">
				and shop_id  = #{shopId,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopName  and '' != shopName">
				and shops.shop_id in (  select shop_id from shops where shop_mer_name = #{shopName,jdbcType=VARCHAR})
			</if>	
    		<if test="null != surNetwork  and '' != surNetwork">
				and sur_network  = #{surNetwork,jdbcType=VARCHAR}
			</if>	
    		<if test="null != surPower  and '' != surPower">
				and sur_power  = #{surPower,jdbcType=VARCHAR}
			</if>	
    		<if test="null != surVip  and '' != surVip">
				and sur_vip  = #{surVip,jdbcType=VARCHAR}
			</if>	
    		<if test="null != surVipData  and '' != surVipData">
				and sur_vip_data  = #{surVipData,jdbcType=VARCHAR}
			</if>	
    		<if test="null != createdAt  and '' != createdAt">
				and created_at  = #{createdAt,jdbcType=VARCHAR}
			</if>	
    		<if test="null != updatedAt  and '' != updatedAt">
				and updated_at  = #{updatedAt,jdbcType=VARCHAR}
			</if>	
    		<if test="null != surRemarks  and '' != surRemarks">
				and sur_remarks  = #{surRemarks,jdbcType=VARCHAR}
			</if>	
    		<if test="null != surId  and '' != surId">
				and survey.sur_id   = #{surId,jdbcType=VARCHAR}
			</if>	
 
    </where>  
    
    <if test="null != order and '' != order ">
			order by survey.updated_at ${order}
    </if>
    
      <if test="null != page and ''!= page">	 
      	   <if test="null != pageSize and ''!= pageSize">			
      	   	limit 	#{page,jdbcType=VARCHAR}, #{pageSize,jdbcType=VARCHAR}		    		   
      	   	 </if> 
	  </if> 
  </select>
  
  
  <select  id="selectForList" resultMap="BaseResultMap"  parameterType="java.util.Map">
  	select 
  	    <include refid="extra_Column_List" />
    	from survey 
   left join shops 
	  on survey.shop_id = shops.shop_id and survey.pro_id = shops.pro_id 
   left join project 
	  on project.pro_id = survey.pro_id
  	    <where>
    	1=1
            <if test="null != proId  and '' != proId">
				and pro_id  = #{proId,jdbcType=VARCHAR}
			</if>	
             <if test="null != proName  and '' != proName">
				and pro_id  in (select pro_id from project where pro_name = #{proName,jdbcType=VARCHAR})
			</if>	
    		<if test="null != shopId  and '' != shopId">
				and shop_id  = #{shopId,jdbcType=VARCHAR}
			</if>	
    		<if test="null != shopName  and '' != shopName">
				and shop_id in (  select shop_id from shops where shop_mer_name = #{shopName,jdbcType=VARCHAR})
			</if>	
    		<if test="null != surNetwork  and '' != surNetwork">
				and sur_network  = #{surNetwork,jdbcType=VARCHAR}
			</if>	
    		<if test="null != surPower  and '' != surPower">
				and sur_power  = #{surPower,jdbcType=VARCHAR}
			</if>	
    		<if test="null != surVip  and '' != surVip">
				and sur_vip  = #{surVip,jdbcType=VARCHAR}
			</if>	
    		<if test="null != surVipData  and '' != surVipData">
				and sur_vip_data  = #{surVipData,jdbcType=VARCHAR}
			</if>	
    		<if test="null != createdAt  and '' != createdAt">
				and created_at  = #{createdAt,jdbcType=VARCHAR}
			</if>	
    		<if test="null != updatedAt  and '' != updatedAt">
				and updated_at  = #{updatedAt,jdbcType=VARCHAR}
			</if>	
    		<if test="null != surRemarks  and '' != surRemarks">
				and sur_remarks  = #{surRemarks,jdbcType=VARCHAR}
			</if>	
 
    </where>  
      <if test="null != page and ''!= page">	 
      	   <if test="null != pageSize and ''!= pageSize">			
      	   	limit 	#{page,jdbcType=VARCHAR}, #{pageSize,jdbcType=VARCHAR}		    		   
      	   	 </if> 
	  </if> 
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from survey
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.intfocus.hdk.vo.Survey" >
    insert into survey (id, pro_id, shop_id, 
      sur_network, sur_power, sur_vip, 
      sur_vip_data, created_at, updated_at, 
      sur_remarks)
    values (#{id,jdbcType=INTEGER}, #{proId,jdbcType=VARCHAR}, #{shopId,jdbcType=VARCHAR}, 
      #{surNetwork,jdbcType=VARCHAR}, #{surPower,jdbcType=VARCHAR}, #{surVip,jdbcType=VARCHAR}, 
      #{surVipData,jdbcType=VARCHAR}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, 
      #{surRemarks,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.intfocus.hdk.vo.Survey" >
    insert into survey
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="surId != null" >
        sur_id,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="surNetwork != null" >
        sur_network,
      </if>
      <if test="surPower != null" >
        sur_power,
      </if>
      <if test="surVip != null" >
        sur_vip,
      </if>
      <if test="surVipData != null" >
        sur_vip_data,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="surRemarks != null" >
        sur_remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=VARCHAR},
      </if>
      <if test="surId != null" >
        #{surId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="surNetwork != null" >
        #{surNetwork,jdbcType=VARCHAR},
      </if>
      <if test="surPower != null" >
        #{surPower,jdbcType=VARCHAR},
      </if>
      <if test="surVip != null" >
        #{surVip,jdbcType=VARCHAR},
      </if>
      <if test="surVipData != null" >
        #{surVipData,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="surRemarks != null" >
        #{surRemarks,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.intfocus.hdk.vo.Survey" >
    update survey
    <set >
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=VARCHAR},
      </if>
      <if test="surId != null" >
        sur_id = #{surId,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=VARCHAR},
      </if>
      <if test="surNetwork != null" >
        sur_network = #{surNetwork,jdbcType=VARCHAR},
      </if>
      <if test="surPower != null" >
        sur_power = #{surPower,jdbcType=VARCHAR},
      </if>
      <if test="surVip != null" >
        sur_vip = #{surVip,jdbcType=VARCHAR},
      </if>
      <if test="surVipData != null" >
        sur_vip_data = #{surVipData,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="surRemarks != null" >
        sur_remarks = #{surRemarks,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where sur_id = #{surId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.intfocus.hdk.vo.Survey" >
    update survey
    set pro_id = #{proId,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      sur_network = #{surNetwork,jdbcType=VARCHAR},
      sur_power = #{surPower,jdbcType=VARCHAR},
      sur_vip = #{surVip,jdbcType=VARCHAR},
      sur_vip_data = #{surVipData,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      sur_remarks = #{surRemarks,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.intfocus.hdk.vo.Survey" >
    update survey
    set pro_id = #{proId,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=VARCHAR},
      sur_network = #{surNetwork,jdbcType=VARCHAR},
      sur_power = #{surPower,jdbcType=VARCHAR},
      sur_vip = #{surVip,jdbcType=VARCHAR},
      sur_vip_data = #{surVipData,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>