html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
}
body{font:400 .28rem/1 "Arial","PingFang SC", "Lantinghei SC", "Microsoft Yahei", "Hiragino Sans GB", "Microsoft Sans Serif", "WenQuanYi Micro Hei", sans; margin:auto; padding-bottom: 1.6rem;}
main, article, aside, figure, footer, header, nav, section, details, summary {display: block;}
a{text-decoration:none; color: #000;}
html {box-sizing: border-box;}
*,
*:before,*:after {box-sizing: inherit;}
img,
object,
embed {max-width: 100%;}
img{display: block;}
html {overflow-y: scroll;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}
table {border-collapse: separate; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}
input, select ,div{vertical-align: middle; outline: none;}
option{-webkit-appearance:none}
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
select, input, textarea {font: 99% sans-serif;}
table {font-size: inherit; font: 100%;}
strong {font-weight: bold;}
td, td img {vertical-align: top;}
pre, code, kbd, samp {font-family: monospace, sans-serif;}
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {cursor: pointer;}
button, input, select, textarea {margin: 0;}
button,
input[type=button] {width: auto; overflow: visible;}

.swiper-container1 {
    width:100%;
    color:#151515; 
    text-align:center; 
    font-size:.24rem;
    position: fixed!important;
    top:0; 
    left:0;
    z-index: 2!important;
    background: #fff;
    border-bottom: solid 1px #eee;
}
.swiper-wrapper{ }
.swiper-container2{ padding-top: .8rem; }
.swiper-container1 .swiper-wrapper{  width:190%!important; }
.swiper-container1 .swiper-slide{ width:auto!important;  position: relative; display: block; color:#151515;  padding: .3rem .16rem .2rem .16rem;}
.swiper-container1 .swiper-slide.on{ color: #1f4ba5;}
.swiper-container1 .swiper-slide.on:after{ content: ""; width: 50%; height: 2px; background: #1F4BA5; position: absolute; left:50%; bottom:0; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.g-popup{ position: fixed; top:0; left:0; width: 100%; height: 100%; background: rgba(0,0,0,.6); z-index:99; font-size: .36rem;}
.g-popup-main{ width: 6rem; border:solid 1px #1f4ba4; border-radius: .2rem; background: #fff; position: absolute; top:50%; left:50%; -webkit-transform: translate(-50%, -50%) ;  transform: translate(-50%, -50%) ;}
.g-popup-main-title{ margin:.5rem .45rem 0 .45rem; padding-bottom: .1rem; border-bottom: solid 1px #e4e4e4; text-align: center; }
.g-popup-main-msg{ margin: .3rem .45rem 0 .45rem; line-height: 1.3; text-align: center;}
.g-popup-main-but{ display: flex; margin: .9rem .35rem .2rem .35rem;}
.g-popup-main-but div{ flex: 1; display: flex; height: .8rem; justify-content: center; align-items: center; font-size: .28rem; border-radius: .1rem;}
.g-popup-main-but div.on1{ background: #1F4BA4; color: #fff; margin-right: .18rem;}
.g-popup-main-but div.on2{ border:solid 1px #1f4ba4; color:#1F4BA4}
.g-popup-main-but div.on3{ background: #1F4BA4; color: #fff;}
			
.i-itemName{ display: flex; height: .76rem; margin:.4rem .25rem 0 .25rem; border: solid 1px #e4e4e6; border-radius: .2rem; }
.i-itemName-name{ width: 2.4rem; background: #1f4ba4; color: #fff; display: flex; justify-content: center; align-items: center; border-radius: .2rem;  }
.i-itemName-list{flex:1; position: relative; display: flex; padding-left: .2rem; }
.i-itemName-list select{position: absolute; top:0; left:0; width: 100%; height: 100%; text-align: center; border: none; background: none; opacity: 0;}
.i-itemName-list section{ flex:1 ; display: flex; }
.i-itemName-list input{height: .76rem; flex:1; z-index:2; border:none; background: none;  box-sizing: border-box; text-align: center; color: #1f4ba4;}
.i-itemName-list p{ width: 1rem;  height:.76rem; display: flex; justify-content: center; align-items: center; background: url(../images/icon1.png) no-repeat 50% 50%; background-size:.24rem .16rem;}
.i-itemName-list div{ flex:1; color:#1f4ba4; height:.76rem; display: flex; justify-content: center; align-items: center; margin-right: .4rem; background: url(../images/icon1.png) no-repeat right 50%; background-size:.24rem .16rem; }
.i-itemName-list div.on{color: #e7e4e5;}
.i-itemName-list-drop{ display: none; position: absolute; z-index: 5; top:.78rem; left:0; background: #fff; width: 100%; height: 4rem; overflow: auto; border:solid 1px #e4e4e6; }
.i-itemName-list-drop li{padding: .2rem .1rem; border-bottom: solid 1px #E4E4E4;}
.i-itemName-list-drop li:nth-last-child(1){ border-bottom: none;}
.i-itemStyle{ margin-top: .4rem;}
.i-itemStyle-title{ padding: 0 .25rem;}
.i-itemStyle-list{ margin-top:.2rem; border-bottom: solid 1px #eee;}
.i-itemStyle-list div{ display: flex; border-top:solid 1px #eee;}
.i-itemStyle-list div p{ flex:1; height: .78rem; display: flex; align-items: center; justify-content: center; background: #f9f9f9;}
.i-itemStyle-list div p:nth-child(2n){ background: #fff;}
.i-itemSeek{ display: flex; margin:.3rem .25rem 0 .25rem; border:solid 1px #e4e4e4; border-radius: .2rem; overflow: hidden;  height: .75rem;}
.i-itemSeek input{ flex: 1; border:none; background:none;  padding: 0 .2rem;}
.i-itemSeek div{ width: 1rem; background: red; background: url(../images/icon2.png) no-repeat 50% 50%; background-size: .3rem .3rem;}
.i-itemDetail{ font-size:.24rem; margin-top:.2rem; }
.i-itemDetail-area-title{ display: flex; align-items: center; padding: 0 .35rem 0 .5rem; height: 1rem; background: #f9f9f9; border-top:solid 1px #e4e4e4; border-bottom: solid 1px #e4e4e4;}
.i-itemDetail-area-title div{ flex:1;}
.i-itemDetail-area-title p{ color: #244ba8;}
.i-itemDetail-area-content .content-row{ display: flex; margin-left: .5rem; border-bottom: solid 1px #e8e8e8;}
.i-itemDetail-area-content .content-row:nth-last-child(1){ border-bottom: none;}
.i-itemDetail-area-content .content-row p{ height: .7rem; padding-bottom: .1rem; display: flex; align-items: flex-end;}
.i-itemDetail-area-content .content-row span{ height: .7rem; padding-bottom: .1rem; display: flex; align-items: flex-end; overflow: hidden;white-space:nowrap; text-overflow:ellipsis;}
.i-itemDetail-area-content .content-row p:nth-child(1){ width: 3.3rem; color:#b1b1b1; }
.i-itemDetail-area-content .content-row p:nth-child(2){ width: 1.8rem;}
.i-itemDetail-area-content .content-row p:nth-child(3){ flex:1; }
.i-itemDetail-area-content .content-row p i{ width: .3rem; height: .3rem; margin-right: .15rem;}
.i-itemDetail-area-content .content-row p i.on1{ background: url(../images/on1.png); background-size:100% 100% ; }
.i-itemDetail-area-content .content-row p i.on2{ background: url(../images/on2.png); background-size:100% 100% ; }
.i-itemDetail-area-content .content-row p i.on3{ background: url(../images/on3.png); background-size:100% 100% ; }
.i-itemDetail-area-content .content-row p i.on4{ background: url(../images/on4.png); background-size:100% 100% ; }
.i-itemDetail-area-content .content-row p i.on5{ background: url(../images/on5.png); background-size:100% 100% ; }
.i-itemDetail-area-content .content-row p i.on6{ background: url(../images/on6.png); background-size:100% 100% ; }
.i-addTable{ font-size: .32rem; display: flex; position: fixed; left: 0; bottom:0; border-top:solid 1px #eee; height:.95rem; width: 100%; background: rgba(255,255,255,.95); justify-content: center; align-items: center;}
.i-addTable .icon{ width: .38rem; height: .38rem; background: url(../images/icon4.png); background-size:100% 100% ;}
.i-addTable .text{ margin-left: .36rem; }

.i-itemXl{ display: flex; height: .76rem; margin:.4rem .25rem 0 .25rem;border-radius: .2rem; justify-content: space-between;}
.i-itemXl-list{position: relative;  border: solid 1px #e4e4e6; border-radius: .2rem; width: 3rem;  }
.i-itemXl-list div{ color:#1f4ba4; height:.76rem; display: flex; justify-content: center; align-items: center; margin-right: .4rem; background: url(../images/icon1.png) no-repeat right 50%; background-size:.24rem .16rem;}
.i-itemXl-list div.on{ color:#e4e4e4; }
.i-itemXl-list select{position: absolute; top:0; left:0; width: 100%; height: 100%; text-align: center; border: none; background: none; opacity: 0;}
.i-itemXl-list.on{ color: #e7e4e5;}
.iz-list{}
.iz-list li{ margin-left:.5rem; border-bottom:solid 1px #e8e8e8; font-size: .24rem; display: flex; padding: .15rem 0; margin-top:.25rem;}
.iz-list li:nth-last-child(1){ border-bottom: 0;}
.iz-list-title{ color:#666; width: 2.8rem;}
.iz-list-content{ color:#333;  flex:1;}
.iz-title{ display: flex; align-items: center; font-size: .24rem; padding: 0 .35rem 0 .5rem; height: 1rem; background: #f9f9f9; border-top:solid 1px #e4e4e4; border-bottom: solid 1px #e4e4e4;}
.iz-title div{ flex:1;}
.i-xiala{ display: flex; height: .76rem; font-size: .24rem; margin:.15rem .25rem;border-radius: .2rem; justify-content: space-between;}
.i-xiala-list{position: relative;  border: solid 1px #e4e4e6; border-radius: .2rem; width: 100%;   }
.i-xiala-list div{ color:#1f4ba4; height:.76rem; padding-left: .55rem; display: flex; justify-content: flex-start; align-items: center; margin-right: .4rem; background: url(../images/icon1.png) no-repeat right 50%; background-size:.24rem .16rem;}
.i-xiala-list .on{ color: #e4e4e4;}
.g-ok{ height: 1.2rem; width: 100%; background: #fff; position: fixed; z-index: 2; left:0; bottom:0; border-top:solid 1px #eee; display: flex; justify-content: center; align-items: center;}
.g-ok div{ width: 5rem; height: .8rem; border-radius: .4rem; background: #1f4ba5; color: #fff; display: flex; justify-content: center; align-items: center;}
.g-importList{font-size: .24rem; padding-top: .3rem;}
.g-importList li{ display: flex; margin:0 .35rem .1rem .55rem; height: .8rem;}
.g-importList-title{ min-width: 2rem; padding-right: .2rem; color: #666; display: flex; align-items: center;}
.g-importList-content{ flex: 1;}
.i-text{ color: #1F4BA5; display: flex; align-items: center; height: 100%; padding-left: .56rem;}
.i-choice{ display: flex; height: 100%;}
.i-choice-row{ flex:1; display: flex; align-items: center;}
.i-choice-row div{ width: .4rem; height: .4rem; background: url(../images/icon6.png); background-size:100% 100%; margin-right: .18rem;}
.i-choice-row .on{ background: url(../images/icon5.png); background-size:100% 100%;  }
.i-choice-row p{ font-size: .24rem; color: #333;}

.i-import{position: relative;  border: solid 1px #e4e4e6; border-radius: .2rem; width: 100%;   }
.i-import input{ height: .76rem; border: none ; background: none; color: #1f4ba4; width: 100%; padding-left: .55rem; padding-right: .4rem; box-sizing: border-box;}

.i-date{position: relative;  border: solid 1px #e4e4e6; border-radius: .2rem; width: 100%;   }
.i-date input{ height: .76rem; border: none ; background: none; color: #1f4ba4; width: 100%; padding-left: .55rem; box-sizing: border-box;}
.i-addImg{ display: flex; padding: .2rem .3rem; }
.i-addImg .img{  display: flex;  }
.i-addImg .img div{ width: 2rem; height: 2rem; display: none; margin-right: .4rem; /*background: url(../images/icon7.png) no-repeat 50% 50% #f2f2f2;*/ background-size:.6rem .6rem; position: relative;}
.i-addImg .img div img{ width: 100%; height: 100%;}
.i-addImg .add{width: 2rem; height: 2rem; border: solid 1px #b2b2b2;  background: url(../images/icon8.png) no-repeat 50% 50% ; background-size:.44rem .44rem;}
.i-addImg .add input{ width: 100%; height: 100%; opacity: 0;}
::-moz-placeholder {  color:#e4e4e4; }
::-webkit-input-placeholder {   color:#e4e4e4; }
:-ms-input-placeholder {   color:#e4e4e4; }

.i-contenteditable{ font-size: .24rem; margin: .3rem .5rem 0 .5rem; height: 2.4rem; border:solid 1px #e4e4e4; border-radius: .2rem; padding: .2rem .3rem; overflow: auto; }
.i-contenteditable:empty:before{
    content: attr(placeholder);
    color:#b2b2b2;
}
.i-contenteditable:focus:before{
    content:none;
}
.i-contenteditable-ok{ width: 2rem; height: .8rem; background: #1f4ba5; color: #fff; display: flex; align-items: center; justify-content: center; border-radius: .2rem; margin:.35rem .5rem .4rem auto;}

.fullimg{ width: 100%; height: 100%; position: fixed; top:0; left:0; z-index:99; background:#333; overflow: hidden;}
.fullimg .but{position: absolute; top:0; left:0; width:100%; z-index: 9; padding: .2rem 0;  background:#333;}
.fullimg .fanhui{ color: #fff; float:left; margin-left: .5rem; width: .6rem; height: .6rem; text-align: center; line-height: .6rem; font-family: "微软雅黑"; font-size: .6rem;}
.fullimg .shanchu{ width: .6rem; height: .6rem; margin-right: .2rem; background: url(../images/imgremove.png) no-repeat 50% 50%; background-size:.36rem .36rem; float:right; }
.fullimg .img{ width: 100%; position: absolute; top:50%; left:0; -webkit-transform: translate(0,-50%); transform: translate(0,-50%);}
.fullimg .img img{ width: 100%; }

.g-select{ position: fixed; top:0; left:0; width:100%; height:100%; z-index:999; background:#fff;}
.g-select-seek{ display: flex; margin:.4rem .25rem 0 .25rem; height: .7rem; border: solid 1px #e4e4e4; border-radius: .2rem;}
.g-select-seek input{ flex: 1; height: .7rem; border: none; background: none; padding: 0 .2rem;}
.g-select-seek div{ width: 1.1rem; height: .7rem; background: url(../images/icon2.png) no-repeat 50% 50%; background-size: .3rem .3rem;}
.g-select-list{ width: 100%; height: 100%; overflow: auto; padding-top:.5rem; padding-bottom:.8rem; }
.g-select-list li{ width: 100%; padding: .24rem .7rem;  font-size: .36rem; }
.g-select-list li.on{ background:#1f4ba4; color: #fff;}

.g-importList-zp{  width:100%; display: flex;}
.g-importList-zp p{ border:solid 1px #1F4BA5; width:30%; margin:0 .1rem; display: flex; justify-content: center; align-items: center; overflow: hidden; }
.g-fa{ margin:1rem .2rem 0 .2rem; border: solid 1px #1F4BA4; border-radius:.2rem; padding:.2rem .2rem 0 .2rem; height: 5rem; overflow: auto;}
.g-select-back{position: fixed; left:0; bottom:0; height:.8rem; width: 100%; background:#1f4ba4; font-size: .36rem; color: #fff; display: flex; justify-content: center; align-items: center;}


.i-qk{ display: flex; margin:0 .25rem 0 .25rem; align-items:center; }
.i-qk-title{margin-right: .6rem; font-weight: bold; width: 2rem;}
.i-qk-content{ flex:1;}
.i-qk-content p{   padding: .2rem 0; border-bottom: solid 1px #eee;}
.i-qk-content p:nth-last-child(1){ border:none;}
.i-kh{ display: flex; border-top:solid 1px #eee; padding: .2rem .25rem 0 .25rem ;}
.i-kh-title{margin-right: .6rem; font-weight: bold; width: 2rem;}
.i-kh-content{ flex:1; }

.g-fa:empty:before{
    content: attr(placeholder);
    color:#b2b2b2;
}
.g-fa:focus:before{
    content:none;
}








